.form-box {
        width: 360px;
        margin: 170px auto 0 auto;
        position: relative;
        z-index: 100;
 }
    
.particles {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    margin: -.5rem 0 0 -.5rem;
    border: 1px solid currentColor;
    transform: scale(0);
}
      
.particles-js-canvas-el{
  position: absolute;
   top: 0;
}
.main-title{
    color: #FFF;
    font-size: 25px; 
}
.form-box > .header{
  padding: 25px !important;
  font-size: 23px !important;
  background-color: #515779a6 !important;
}
.body.white-bg{
  background-color: #515779a6;
  padding: 20px 20px;
} 
.body .alert{
  padding: 10px 30px;
  font-size: 13px;
  margin-left: 0px;
}
.body .alert .fa-ban{
  left: -12px;
  top: -12px;
  width: 30px;
  height: 30px;    
  line-height: 30px;
}
.form-cstm-label{
  color: #FFF !important;
  font-size: 14px;
}
.form-box{
  margin: 40px auto 0 auto;
}
.form-box > .header{
  margin: 0;
  text-transform: uppercase;
}
.parrent-sign-in .form-control, .form-styling{
  color: #FFF;
  background-color: rgba(255,255,255,.2);
  border: none;
}
.parrent-sign-in .form-control, .form-styling::placeholder {
  color: #FFF;   
}
.parent-box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  right: inherit;
  bottom: inherit;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 11;
}
.form-cstm-label a{
  color: #FFF !important;
  font-size: 14px;
}
.form-styling.btn{
    background-color: #424767 !important;
    border-color: #424767 !important;
    padding: 7px;
    font-size: 15px;
}  
canvas{
  display:block;
  vertical-align:bottom;
  background-color: #5d576a8a;
}
.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
    
.js-count-particles{
      font-size: 1.1em;
}
    
#stats,.count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
    
#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    display: none;
}
    
.count-particles{
  border-radius: 0 0 3px 3px;
}   
#particles-js{
  width: 100%;
  height: 100%;
  background-color: #9c9192;
  background-image: url('images/3.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
    .nomrgin-ltor{
      margin: 0 !important;
    }
    .custom-height-form{
      height: 15px !important;
    }
    .custom-width-form{
      width: 20% !important;
    }
    .pd-btm-5{
      padding-bottom: 5px;
    }
.display-in-line{
      display: inline-block !important;
}
.parrent-input input[type="radio"], input[type="checkbox"]{
  margin: 0px !important;
}
.custom-plus{
  font-size: 25px;
  margin-top: 4px
}
.custom-minus{
  font-size: 25px;
  margin-top: 4px
}
.mrgn-top-1{
  margin-top: 1%;
}
.mrgn-top-2{
  margin-top: 2%;
}
.hide-elem{
  display: none;
}

.table-card{
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 4px;
    padding: 10px 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.table-card table tr th,td{
    padding: 12px;
    text-align: left;
}
.comment-section{
        padding-bottom: 72px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 4px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.mrgn-btm{
      margin-bottom: 45px;
}
.comment-section textarea{
  width: 100%;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #E2E7EB;
  padding: 20px
}
.pd-btm-15{
  padding-bottom: 15px;
}
.comment-list{
  padding: 10px 10px 20px;
  background-color: #FFF;
  margin-top: 15px;
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(195, 195, 195, 0.52);
  border-left: 2px solid #00acac;
}

.comment-list ul li{
  padding: 0px 10px 0 0;
  font-weight: 500;
  color: #c2c3bf;
}
.comment-list p{
    font-size: 13.2px;  
}
.comment-list-parrent{
  max-height: 480px;
  overflow-y: auto;
}
#personal_information-accordian .panel-heading {
 background-color: #2a3f5e; 
 color: #FFF;
}
#comment-section-accordian .panel-heading {
 background-color: #2a3f5e; 
 color: #FFF;
}
#parents-information-accordian .panel-heading {
 background-color: #2a3f5e; 
 color: #FFF;
}
#parents-information-accordian{
  margin-top: 20px;
}
#edu_details-accordian .panel-heading {
 background-color: #2a3f5e; 
 color: #FFF;
}
#edu_details-accordian{
  margin-top: 20px;
}
#installments-accordian  .panel-heading {
 background-color: #2a3f5e; 
 color: #FFF;
}
#installments-accordian .table-card{
  margin-bottom: 0px;
}
#installments-accordian{
  margin-top: 20px;
}
#empty-accordian .panel-heading {
 background-color: #2a3f5e; 
 color: #FFF;
}
#comment-section-accordian{
  margin-bottom: 50px;
}
.panel-title a:hover, a:active, a:focus{
  color: #FFF;
}
#printablediv section.panel{
  background-color: unset;
}
#personal_information-accordian{
  margin-top: 20px;
}
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f146";
    float: right;
    color: #FFF !important;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\f0fe";
    color: #FFF !important;
}
.panel-default>.panel-heading+.panel-collapse .panel-body{
  border-top: none;
}
.profile-view-head{
  background-image: none;
  color: #0e0e0e;
  text-align: center;
  background-color: white;
  padding: 10px;
  font-weight: 600;
  box-shadow: 1px 3px 11px 1px grey;  
}